@model DefenseSimulator.Models.Threat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Threat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginThreat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginThreat.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaunchTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaunchTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttackWeapon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttackWeapon.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
