@model IEnumerable<DefenseSimulator.Models.Threat>

@{
    ViewData["Title"] = "Index";
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
            <link rel="stylesheet" href="~/css/ThreatIndex.css">
}

<h1 class="my-4">ניהול איומים</h1>

<p>
    <a asp-action="Create" class="btn btn-primary mb-3">Create a New Threat</a>
</p>

<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead class="thead-light">
                <tr>
                    <th>Origin</th>
                    <th>Distance</th>
                    <th>Launch Time</th>
                    <th>Attack Weapon</th>
                    <th>Amount</th>
                    <th>Is Active</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.OriginThreat.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.OriginThreat.Distanse) KM</td>
                        <td>@Html.DisplayFor(modelItem => item.LaunchTime)</td>
                        <td>@Html.DisplayFor(modelItem => item.AttackWeapon.Type)</td>
                        <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                        <td style="text-align:center">
                            @if (item.IsActive)
                            {
                                <i class="indicator green"></i>
                            }
                            else
                            {
                                <i class="indicator red"></i>
                            }
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.ThreatId" class="btn btn-info btn-sm">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.ThreatId" class="btn btn-delete btn-sm">
                                <i class="bi bi-trash"></i> Delete
                            </a>


                            @{
                                string ActionName = item.IsActive ? "Terminate" : "Launch";
                            }
                          <form asp-action="@ActionName" method="post" asp-route-id="@item.ThreatId" class="m-2">
                                <button class="btn btn-launch btn-sm"
                                        disabled="@item.IsActive">
                                    <i class="bi bi-rocket" style="color:yellow"></i> @if (item.IsActive)
                                    {
                                        <span>Launched</span>
                                    }
                                    else
                                    {
                                        <span>Launch</span>
                                    }
                                </button>
                              </form>
                            

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
